#a{
    padding: 10%;
    background-color: tomato;
    color: chartreuse;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid ;
    font-size: 250%;
    text-justify: auto;
}
